h1,h2{
    color: rgb(214, 127, 255);
    background-color: blanchedalmond;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
body{
    color: rgb(214, 127, 255);
}
#t4{
    color: greenyellow;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}
.estilo1{
    color: indigo;
    font-style: italic;
    font-size: 25px;
}